.side{
    position:fixed;
    top:0;
    right:0;
    height:100%;
    padding:0;
  }
  
  .scroll-area{
    width:100%;
    height:calc(100% - 60px);
    margin-top:60px;
    float:left;
    overflow-y:scroll;
  }