<div *ngFor="let interprete of tousInterpreteTab">
    <button class="btn btn-primary" *ngIf="interprete.boutonActif"  (click)="onFiltreInterprete(interprete)">{{interprete.prenom}}</button>
    <button class="btn btn-basic"   *ngIf="!interprete.boutonActif" (click)="onFiltreInterprete(interprete)">{{interprete.prenom}}</button>
</div>
  <br>
  <br>

Liste des vidéos :
<table>
  <tr *ngFor="let v of videosTab">
    <td><a href={{v.cheminVideo}}><img src={{v.cheminImage}}  class="img-fluid img-thumbnail"/></a></td>
    <td ><h6>&nbsp;&nbsp;<i>{{v.titre}}</i></h6></td>
    <td *ngIf="v.compositeur">&nbsp;de {{v.compositeur}}</td>
  </tr>
</table>
<br>
<!-- <button class="btn btn-primary" (click)=onSauvegarde()>save</button> -->